/*#region header*/
header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    gap: 0.625rem;
}

nav ul {
    gap: 4rem;
}

nav a {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    color: var(--secondry);
}

.nav-item:hover,
.nav-item:active {
    font-weight: 700;
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: row !important;
    }
}

/*#endregion header*/

/*#region hero*/
.hero {
    min-height: 100vh;
    background-color: var(--secondry);
    background-image: url("..//img/Frame\ 8365.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-heading {
    gap: 2.125rem;
    padding-right: 6rem;
    padding-left: 6rem;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.625rem;
    color: var(--white);

}

h1 span {
    color: var(--primary);
}

.hero p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--white);
}

@media (max-width: 990px) {
    .hero-heading h1 {
        font-size: 4rem;
    }
}

/*#endregion hero*/

/*#region about*/
.about {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h2 {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    color: var(--black);
}

h2 span {
    color: var(--secondry);
}

.section-heading {
    gap: 1.25rem;
}

.section-title p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--gray);
    max-width: 95%;
}

.section-title .about-us {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem;
    color: var(--secondry);
}

.section-title {
    gap: 1.875rem;
    padding-top: 4rem;
}

.check {
    fill: var(--white);
    background-color: var(--primary);
    min-width: 0.95925rem;
    height: 0.99988rem;
    border-radius: 3px;
    padding: 3px;
}

.passport {
    gap: 1.875rem;
}

.passport p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    color: var(--secondry);
}

.passport span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--gray);
}

.about .btn {
    max-width: 150px;
}

.about-imgs img {
    max-width: 100%;
}

.card {
    padding: 2.5rem 2rem;
    background-color: var(--primary);
    border-radius: 1.25rem;
    gap: 0.625rem;
    width: 11.5rem;
    top: 63%;
    left: 4%;
}

.card span {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    color: var(--white);
}

.card p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--white);
}

/*#endregion about*/

/*#region discover*/
.discover {
    background-color: var(--discover-bg);
    border-radius: 3.125rem;
    margin-left: 3.75rem !important;
    margin-right: 3.75rem !important;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.discover .container {
    gap: 3.75rem;

}

.items .svg {
    padding: 1.6875rem;
    border-radius: 3.125rem;
    fill: var(--white);
    background-color: var(--primary);
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discover .items {
    gap: 1.875rem;
    padding: 2.5rem;
    background-color: var(--white);
    border-radius: 1.25rem;
    border: 1px;
    transition: 0.7s;
}

.discover .items:hover {
    border: 1px solid var(--primary);
}

.items p {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    color: var(--secondry);
}

.items span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--gray);
    text-align: center;
}

@media (max-width: 990px) {
    .discover .row {
        gap: 2rem;
    }

}

/*#endregion discover*/

/*#region feature*/
.feature {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.feature-img img {
    width: 100%;
}

.cards {
    row-gap: 1.88rem;
}

.card-icon {
    padding: 1.0625rem;
    border-radius: 2rem;
    background-color: var(--primary);
}

.card-content p {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    color: var(--secondry);
}

.card-content span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--gray);
}

.cards .item {
    padding: 4rem 2.5rem;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
}

.brands {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 990px) {
    .feature .row {
        gap: 2rem;
    }
}

/*#endregion feature*/

/*#region explore*/
.explore {
    min-height: 100vh;
    background-color: var(--discover-bg);
    background-image: url("../img/Frame.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 3.75rem !important;
    margin-right: 3.75rem !important;
    border-radius: 3.125rem;
}

.explore .container {
    gap: 3.75rem;
}

h4 {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    color: var(--secondry);
    max-width: 45%;
}

.explore .item {
    background-color: var(--white);
    padding: 0.625rem;
    gap: 1.25rem;
    border-radius: 0.625rem;
}

.explore .card-content {
    gap: 1.25rem;
}

.explore .card-content p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
}

.explore .card-icon {
    padding: 3.1875rem 2.9375rem;
    border-radius: 0.625rem;
}

@media (max-width: 990px) {
    .explore .row {
        gap: 2rem;
    }
}

/*#enregion explore*/

/*#region adventure*/
.adventure {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.adventure .container {
    gap: 3.57rem;
}

h5 {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    color: var(--secondry);
    max-width: 45%;
}

.adventure-card {
    padding: 1.25rem;
    transition: 0.5s;
    border-radius: 1.25rem;
    background-color: var(--white);
}

.adventure-card:hover {
    border: 1px solid var(--primary);
    border-radius: 1.25rem;
}

.adventure-img img,
.adventure-img {
    width: 100%;
}

.profile {
    width: 100%;
}

.profile p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--secondry);
}

.profile svg {
    fill: var(--secondry);
}

.adventure-p {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    color: var(--secondry);
}

/*#endregion adventure*/

/*#region footer*/
footer {
    background-color: var(--secondry);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer-logo {
    gap: 0.6rem;
}

.left-footer {
    gap: 2.6rem;
}

.left-footer p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--white);
    max-width: 18.75rem;
}

.middle-footer,
.right-footer {
    gap: 2.5rem;
}

h6 {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    color: var(--white);
}

.middle-footer ul,
.right-footer ul {
    gap: 0.6rem;
}

.middle-footer p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--white);
}

hr {
    color: var(--gray);
}

.footer-nav a,
.copy-right {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    color: var(--white);
}

@media (max-width: 990px) {
    footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .left-footer {
        align-items: center !important;
        justify-content: center !important;
        text-align: center;
    }

    .left-footer-ul {
        width: 100%;
        justify-content: center;
    }
}

/*#endregion footer*/
.accordion {
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.accordion .row {
    row-gap: 1.5rem;
}

.accordion-item {
    background-color: var(--discover-bg);
    border-radius: 1.25rem !important;
    border: 0;
}

.accordion-button {
    outline: none;
    border: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    color: var(--secondry);
}

.accordion-button:not(.collapsed)::after {
    background-color: var(--primary);
    padding: 1rem 1rem;
    border-radius: 50px;
    background-position: center;
    background-image: url(../img/angel-up.svg);
    rotate: 180deg;
}

.accordion-button::after {
    background-color: var(--discover-bg);
    padding: 1rem 1rem;
    border-radius: 50px;
    background-position: center;
    background-image: url(../img/angel-right.svg);
    background-size: auto;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background: var(--discover-bg);
    border-radius: 1.25rem !important;
}

.accordion-body {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--gray);
}

@media (max-width: 990px) {
    .faq-heading {
        align-items: center;
    }
}

/*#enregion faq*/

/*#region contact*/
/*#region form*/
form {
    padding: 2.5rem;
    background-color: var(--form);
    border-radius: 1.25rem;
    gap: 1.25rem;
}

form img {
    right: 5%;
}

label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--secondry);
}

label::placeholder {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--secondry);
    opacity: 0.6;
}

.form-control,
textarea {
    border-radius: 1.875rem;
    padding: 0.9375rem 1.25rem;
    border: 1px solid var(--input);
}

textarea {
    width: 100%;
    min-height: 8.125rem;
}

.text-area img {
    top: 15%;
}

.form-btn {
    width: 100% !important;
}

/*#enregion form*/

/*#region contact*/
.contact p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem;
    color: var(--primary);
}

.contact h3 {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    color: var(--secondry);
    max-width: 40%;
    text-align: center;
}

.nav-tabs {
    gap: 1.875rem;
}

.nav-tabs a {
    padding: 0.9375rem 2.5rem !important;
    border-radius: 1.25rem !important;
    border: 1px solid var(--primary) !important;
    font-size: 1.375rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 1.875rem !important;
    transition: 0.5s !important;
    color: var(--secondry) !important;

}

.nav-tabs li:hover {
    background-color: var(--primary) !important;
}

.nav-tabs a:hover {
    color: var(--white);
}

.wanderlust {
    padding: 3.75rem;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--white);
}

.guide {
    gap: 1.875rem;
}

.div-content {
    gap: 0.3rem;
}

.div-content p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--gray);
}

.div-content span {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    color: var(--secondry);
}

.time {
    gap: 1rem;
}

/*#endregion contact*/

/*#region about us*/
.dream-card {
    padding: 1.625rem 1.875rem;
    border-radius: 1.25rem;
    border: 1px solid var(--input);
    gap: 1.25rem;
}

.dream-card .dream-check {
    gap: 0.625rem;

}

.dream-img {
    gap: 1.25rem;
}

.dream-img p {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    color: var(--secondry);
}

.dream-check p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--gray);
}

@media (max-width: 992px) {
   .passport{
    flex-direction: column;
   }
}
